@model List<BasketVM>
@foreach (BasketVM basketVM in Model)
{
    <tr>
        <td class="product-remove"><a data-id="@basketVM.Id" asp-controller="basket" asp-action="deleteFromCart" asp-route-id="@basketVM.Id" class="cartdelete"><i class='bx bx-x-circle'></i></a></td>
        <td class="product-image">
            <a href="">
                <img src="~/assets/images/product/@basketVM.Image" alt="">
            </a>
        </td>
        <td class="product-name">
            <a asp-controller="product" asp-action="details" asp-route-id="@basketVM.Id">@basketVM.Title</a>
        </td>
        <td >
            @if (basketVM.DiscountedPrice > 0)
            {
                
                <span class="product_Price" style="color:green;">$@basketVM.DiscountedPrice</span>

            }
            else
            {
                <span class="product_Price">$@basketVM.Price</span>
            }
        </td>
        <td class="product-qty">
            <div class="qty-input">
                <span class="minus-qty"  data-id="@basketVM.Id"></span>
                <input data-productId="@basketVM.Id" class="product-cart-count" type="text" value="@basketVM.Count" name="" id="">
                <span class="plus-qty" data-id="@basketVM.Id"></span>
            </div>
        </td>
        <td class="product-subtotal">
            @if (basketVM.DiscountedPrice > 0)
            {
                <span>$@(basketVM.Count*basketVM.DiscountedPrice)</span>

            }
            else
            {
                <span>$@(basketVM.Count*basketVM.Price)</span>
            }

        </td>
    </tr>
}