@model ProfileVM
@inject UserManager<AppUser> userManager
@{
    AppUser appUser = null;
    if (User.Identity.IsAuthenticated)
    {
        appUser = await userManager.FindByNameAsync(User.Identity.Name);
    }

}

<!-- Divider -->
<hr>
<!-- Divider -->
<!-- My Account Table -->
<section id="My-account">
    <div class="container">
        <div class="section-container">
            <div class="tab-list">
                <ul type="none" class="tab-ul">
                    <li class="tab-li @(TempData["Tab"]?.ToString() == null ? "tab-li-active" : "") "><span>Dashboard</span></li>
                    <li class="tab-li @(TempData["Tab"]?.ToString() == "order" ? "tab-li-active" : "") "><span>Orders</span></li>
                    <li class="tab-li @(TempData["Tab"]?.ToString() == "address" ? "tab-li-active" : "") "><span>Addresses</span></li>
                    <li class="tab-li @(TempData["Tab"]?.ToString() == "details" ? "tab-li-active" : "")  "><span>Account Details</span></li>
                    <li class="tab-li">
                        <a class="logout_btn" asp-controller="account" asp-action="logout"><span>Logout</span></a>
                    </li>
                </ul>
                <hr style="margin-top: 10px; margin-bottom: 30px;">
                <div class="my-account-content @(TempData["Tab"]?.ToString() == null ? "my-account-content-active" : "")">
                    <div class="dashboard-content ">
                        <p>Hello <span>@appUser?.UserName</span> (not <span>@appUser?.UserName</span> ? <a asp-controller="account" asp-action="logout">Log out</a>)</p>
                        <p>From your account dashboard you can view your <a href="">recent orders</a>, manage your <a href="">shipping and billing addresses</a>, and <a href=""> edit your password and account details.</a></p>

                    </div>
                </div>
                <div class="my-account-content @(TempData["Tab"]?.ToString() == "order" ? "my-account-content-active" : "")">
                    <div class="orders-content ">
                        @**@
                        <table class="table table-condensed" style="border-collapse:collapse;">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Orders != null && Model.Orders.Count() > 0)
                                {
                                    foreach (Order order in Model.Orders)
                                    {
                                        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                            <td><a class="order-no" href="#">#@order.No</a></td>
                                            <td>@order.CreatedAt?.ToString("dd MMM yyyy")</td>
                                            <td>@order.Status </td>
                                            <td class="text-success">$@(order.OrderItems?.Sum(o=>(o.Count * o.Price))) for @order.OrderItems?.Count() items</td>
                                            <td>@order.Comment</td>
                                        </tr>
                                        <tr class="hiddenRow">
                                            <td colspan="6">
                                                <div class="accordion-body ">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th class="col-3">Name</th>
                                                                <th>Count</th>
                                                                <th>Price</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (order.OrderItems != null && order.OrderItems.Count() > 0)
                                                            {
                                                                foreach (OrderItem orderItem in order.OrderItems)
                                                                {
                                                                    <tr>
                                                                        <td>@orderItem.Product?.Title</td>
                                                                        <td>@orderItem.Count</td>
                                                                        <td>$@orderItem.Price</td>
                                                                        <td>$@(orderItem.Price * orderItem.Count)</td>
                                                                    </tr>
                                                                }


                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                                


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="my-account-content @(TempData["Tab"]?.ToString() == "address" ? "my-account-content-active" : "") ">
                    <div class="adresses-content ">
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <a class="addAddress">Add Address</a>
                        <div class="addressForm d-none">
                            @await Html.PartialAsync("_AddressFormPartial", new Address())
                        </div>
                       
                        <div class="my-3 user-addresses row">

                            @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                            {
                                foreach (Address address in Model.Addresses)
                                {
                                        <div class="col-lg-3">
                                            <div class="address">
                                                <h3>Shipping address</h3>
                                                <a asp-controller="account" asp-action="editAddress" asp-route-id="@address.Id" class="">Edit</a>
                                            </div>
                                            <div>
                                                <ul>
                                                    <li><span>@appUser.Name </span> <span>@appUser.Surname</span></li>
                                                    <li>@address.Country</li>
                                                    <li>@address.City</li>
                                                    <li> @address.AddressLine</li>
                                                    <li>@address.PostalCode</li>
                                                    <li>Default Address: @address.IsMain</li>
                                                </ul>
                                            </div>

                                        </div>
                                   

                                }

                            }
                            
                            
                        </div>

                    </div>
                </div>
                <div class="my-account-content @(TempData["Tab"]?.ToString() == "details" ? "my-account-content-active" : "")">
                    <div class="account-details-content">
                        <div class="details">
                            <form method="post" class="row g-3" asp-controller="account" asp-action="profile">
                                <div asp-validation-summary="ModelOnly " class="text text-danger"></div>
                                <div class="col-md-6">
                                    <label asp-for="Name" class="form-label">First Name*</label>
                                    <input asp-for="Name" class="form-control" id="inputFirstName">
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="Surname" class="form-label">Last Name*</label>
                                    <input asp-for="Surname" class="form-control" id="inputLastName">
                                </div>
                                <div class="col-12">
                                    <label asp-for="Username" class="form-label">UserName*</label>
                                    <input asp-for="Username" class="form-control" id="inputUsername" >
                                </div>

                                <div class="col-12">
                                    <label asp-for="Email" class="form-label">Email*</label>
                                    <input asp-for="Email" class="form-control" id="inputEmail" >
                                </div>
                                <div class="col-12">
                                    <label asp-for="OldPassword" class="form-label">Current Password</label>
                                    <input asp-for="OldPassword" class="form-control" id="inputCurrentPassword">
                                </div>
                                <div class="col-12">
                                    <label asp-for="NewPassword" class="form-label">New Password (leave blank to leave unchanged)</label>
                                    <input asp-for="NewPassword" class="form-control" id="inputNewPassword">
                                </div>
                                <div class="col-12">
                                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password </label>
                                    <input asp-for="ConfirmPassword" class="form-control" id="inputConfirmPassword">
                                </div>
                                <div>
                                    <button type="submit" class="save-address-btn">Save Changes</button>
                                </div>


                            </form>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- My Account Table -->